.App {
    .ant-typography {
        font-size: 20px;
        font-weight: bold;
        color: red;
    }

    .ant-input {
        border-color: green;
    }

    .ant-input::placeholder {
        color: blue;
    }

    .ant-image-img {
        width: 100px;
    }

    .ant-btn {
        background-color: red !important;
        border-color: red !important;
        color: white;
        width: 150px;
        font-weight: bold;
        border-radius: 16px;
    }

    .datePicker .ant-picker {
        border-color: green;
    }

    .ant-table-thead {
        .ant-table-cell {
            background-color: rgb(212, 13, 156);
            color: white;
        }
    }

    .ant-table-tbody {
        .ant-table-cell {
            background-color: gray;
            color: black;
            border-color: purple;
        }
    }
}

.datePickerDropdown {
    .ant-picker-cell-inner {
        color: red;
    }
}

.customInput1 {
    .ant-input {
        color: green;
    }
}

.customInput2 {
    .ant-input {
        color: red;
    }
}