.App {
    .ant-typography {
        color: red;
        font-size: 20px;
        font-weight: bold;
    }

    .ant-input {
        border-color: green;
    }

    .ant-input::placeholder {
        color: blue;
    }

    .ant-btn {
        background-color: red;
        width: 150px;
        color: white;
        font-weight: bold;
        border-radius: 16px;
    }
}

.customInput1 {
    .ant-input {
        color: green;
    }
}

.customInput2 {
    .ant-input {
        color: red;
    }
}