.App {
    .ant-typography {
        color: red;
        font-size: 20px;
        font-weight: bold;
    }

    .ant-input {
        border-color: green;
    }

    .ant-input::placeholder {
        color: blue;
    }
}

.customInput1 {
    .ant-input {
        color: green;
    }
}

.customInput2 {
    .ant-input {
        color: red;
    }
}